@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("./image/st-michael.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #333;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px 0;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
::marker {
  content: "";
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}


.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}
.li{
  text-decoration: none;
}
.college-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.system-name {
  font-size: 16px;
  margin-top: 5px;
  text-transform: uppercase;
}

.content {
  margin-top: 160px; /* Adjust this value to match the height of your header */
  margin-left: 265px; /* Adjust to accommodate the width of the sidebar */
  padding: 20px;
}
